@font-face {
  font-family: FuturaStdCondensed;
  src: url(../fonts/FuturaStd-Condensed.otf) format("opentype");
}

@font-face {
  font-family: FuturaStdCondensedLight;
  src: url(../fonts/FuturaStd-CondensedLight.otf) format("opentype");
}

@font-face {
  font-family: FuturaStdCondensedLightObl;
  src: url(../fonts/FuturaStd-CondensedLightObl.otf) format("opentype");
}